header{
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    background-color: rgb(82, 65, 65);
}
header h1{
    color: lawngreen;
    float: left;
    margin: 2px 2px;
    padding: 1px;
    size: 3vw;
}
header ul{
    float: right;
    list-style-type: none;
}