html{
    background-color: #A1A1A1;
}
h1 {
    font-size: 5vw;
    color: blue;
    text-align: center;
}
h2{
    color: green;
    font-style: italic;
    text-align: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}
ul,ol,dl{
    font-style: oblique;
    line-height: 40px;
    border-block-end: 1px;
    background-color: lightseagreen;
    text-align: justify;
    text-emphasis-color: green;
    border-top-style: groove;
    border-bottom-style: dotted;
    border-right-style: dotted;
    border-left-style: groove;
    border: 1px solidpowderblue;
    border-radius: 5px;
    padding: 30px;
    margin: auto;
}
strong,em{
    font-size: 3vw;
    font-weight: bolder;
}