html{
    background-color: #A1A1A1;
    justify-content: space-evenly;
}
h1 {
    font-size: 5vw;
    color: blue;
    text-align: center;
}
h2{
    color: green;
    font-style: italic;
    text-align: center;
}
h3{
    color: peru;
    font-style: normal;
    font-size: 2.5vw;
    font-weight: bolder;
    text-emphasis-color: red;
    text-justify: distribute;
}
p{
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}
ul,ol,dl{
    color: blueviolet;
    font-style: oblique;
    line-height: 40px;
    border-block-end: 1px;
    background-color: lightseagreen;
    text-align: justify;
    text-emphasis-color: purple;
    border-top-style: groove;
    border-bottom-style: dotted;
    border-right-style: dashed;
    border-left-style: groove;
    border: 1px solidpowderblue;
    border-radius: 5px;
    padding: 30px;
    margin: auto;
}
strong,em{
    font-size: 3vw;
    font-weight: bolder;
}
img{
    object-fit: contain;
    border-image-source: inherit;
    border-image: 1px;
    width: 50%;
    height: auto;
    background-size: contain;
    align-content: center;

}
.resortWebsite{
    float: left;
    margin: 2px 2px;
    padding: 2px 2px;
    border: 5px;
    border-style: groove;
    border-color: black;
    background-color: black;
}
.resortWebsite img{
    width: 100%;
}
.resortWebsite h6{
    color: blue;
    font-style: normal;
    text-align: center;
    
}
.myPalWebsite{
    float: left;
    padding: 2px;
    margin: 2px;
    background-color: aliceblue;
    border: 5px;
    size: 100%;
}
.myPalWebsite img{
    width: 100%;
}
.myPalWebsite h6{
    color: green;
    text-align: center
}
